dist: trusty
sudo: false
language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-5.0
    packages:
      - g++-6
      - clang-5.0
      - cppcheck
  sonarcloud:
    organization: "andrej-sajenko-github"
    token:
      secure: $SONAR_TOKEN

cache:
  directories:
  - ./third-party

before_install:
  - pip install --user cpp-coveralls
  - pip install --user cpplint

script:
  - cpplint ./src/*.*
  - cpplint ./include/*/*.*
  - cpplint ./src-view/*.*
  - cpplint ./test/*.*
  - cppcheck --std=c++11 --error-exitcode=1 --quiet -Iinclude src/ src-view/
  - CXX=/usr/bin/g++-6 CC=/usr/bin/gcc-6 cmake -DCOVERAGE=1 .
  - 'if test $TRAVIS_PULL_REQUEST = false; then build-wrapper-linux-x86-64 --out-dir bw-output make; else make; fi'
  - ./bin/tests

after_success:
  - coveralls --root .  -E ".*CMakeFiles.*" -e test -e third-party -e src-view -e include --gcov-options '\-lp'
  - 'if test $TRAVIS_PULL_REQUEST = false; then sonar-scanner; fi'

before_deploy:
  # tar the header files and the library
  - tar -czf sealib.tar.gz ./include ./lib
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: "sealib.tar.gz"
  skip_cleanup: true
  on:
    tags: true
    branch: master