dist: trusty
sudo: false
language: cpp

compiler:
  - clang

addons:
  apt:
    packages:
      - cppcheck
  sonarcloud:
    organization: "andrej-sajenko-github"
    token:
      secure: $SONAR_TOKEN

cache:
  directories:
  - ./third-party

before_install:
  - pip install --user cpp-coveralls
  - pip install --user cpplint
  - 'if test $CC = clang; then ln -sf $(which llvm-cov) /home/travis/bin/gcov; fi'

script:
  - cpplint --quiet src/*.* src/*/*.*
  - cpplint --quiet include/sealib/*.* include/sealib/*/*.*
  - cpplint --quiet src-view/*.*
  - cpplint --quiet test/*.*
  - cppcheck --std=c++11 --enable=performance,portability --error-exitcode=1 --quiet -Iinclude src/ src-view/
  - cmake -DCOVERAGE=1 .
  - 'if test $TRAVIS_PULL_REQUEST = false; then build-wrapper-linux-x86-64 --out-dir bw-output make; else make; fi'
  - ./bin/tests

after_success:
  - coveralls --root . --build-root src/ -E ".*CMakeFiles.*" -e test -e third-party -e src-view -e include
  - 'if test $TRAVIS_PULL_REQUEST = false; then sonar-scanner; fi'

before_deploy:
  # tar the header files and the library
  - tar -czf sealib.tar.gz ./include ./lib
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: "sealib.tar.gz"
  skip_cleanup: true
  on:
    tags: true
    branch: master